<div class="chat" id={{uid}}>
    <div class="avatar-wrapper">
        {{{Avatar}}}
    </div>
    <div class="chat-content">
    {{{ChatTitle}}}
    {{{ChatDescription}}}
    </div>
    <div class="chat-data">
        {{{ChatTime}}}
        {{{ChatCounter}}}
    </div>
    
</div>
