<div class="message {{direction}}" id={{messageId}}>
    <div class="message-content">{{messageText}}</div>
    <div class="message-data">
        <div class="message-status">{{status}}</div>
        <div class="message-time">{{time}}</div>
    </div>
</div>
